.layout {
  display: flex;
  margin: 0;
  width: 100vw;
  flex: 1;
  height: 100vh;
  background: var(--background-color);
  position: fixed;
}

.layout__contents {
  height: 100%;
  width: 100%;
}

.layout__outlet {
  height: 100%;
}
